:root {
    --black: #000000;
    --darkGray: #1b1b1b;
    --blue: #3EA2D8;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
button {
    color: var(--blue);
    text-transform: uppercase;
}

.scroll__top {
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 20;
    opacity: 1;
    display: none;

    // transform: translateX(-50%);
    span {
        background-color: transparent;
        display: block;
        border-top: 0px;
        border-bottom: 20px;
        border-right: 20px;
        border-left: 20px;
        border-color: transparent;
        border-bottom-color: var(--black);
        border-style: solid;
    }

    &::before {
        content: "up";
    }
}

h1 {
    font-family: "raleway";
    font-weight: 900;
}

button {
    font-family: "roboto";
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 16px 60px;
    border-radius: 28px;
    border: none;
    transition: all 0.2s;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:before {
        content: "MORE";
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 24px;
        background-color: var(--blue);
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(90deg);
        transition: all ease 0.5s;
        box-shadow: 0 0 30px 30px var(--blue);
        z-index: -1;
    }
}

button:hover {
    opacity: 1;

    &:before {
        color: var(--white);
        transform: translateX(0%);
        z-index: 1;
    }
}

.social__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .social__link {
        height: 36px;
        width: 36px;
        padding: 6px;
        background-color: var(--white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    a {
        width: 100%;
        height: 100%;
    }

    svg {
        height: 100%;
        width: 100%;
        fill: var(--darkGray);
    }
}

.bg__darkgray {
    background-color: var(--darkGray);
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    padding: 90px 0;
    overflow: hidden;
}

body {
    background-color: var(--black);
    font-family: "raleway";
    font-weight: 400;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
}

// spasial styles

.cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    max-height: 1080px;
    width: 100%;
    transition: all 1s;
    overflow: hidden;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--white);
        justify-self: center;
        img {
            height: 110px;
            object-fit: cover;
            margin-bottom: 50px;
        }
        h3 {
            color: var(--white);
        }
        p {
            font-family: "Lora";
            font-weight: 400;
            line-height: 1.1rem;
            font-size: 16px;
        }
        p:first-of-type {
            margin: 50px 0;
        }
    }
    
    @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        .card {
            max-width: 100%;
        }
    }
}

// body container

header {
    width: 100%;
    height: 100%;
    background-image: url("../media/image/Image@2x.jpg");
    background-position: top;
    background-size: cover;

    .header-container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .wrapper {
        padding-top: 40px;
    }

    .navigation {

        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            text-transform: uppercase;
            font-family: "raleway";
            color: var(--white);
            text-align: center;
            display: flex;
            user-select: none;

            &:before {
                content: "";
                width: 36px;
                height: 100%;
                background-image: url("../media/image/oie_transparent.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            h2 {
                color: inherit;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }

            h3 {
                color: inherit;
                font-size: 8px;
                line-height: 8px;
                font-weight: 400;
            }

            span {
                color: var(--blue);
            }

        }

        .menu__container {
            display: flex;
            align-items: center;

            // overflow: hidden;

            .burger {
                display: none;
            }

            .menu__content {

                .menu__list {
                    display: flex;
                    gap: 30px;

                    a:hover {
                        text-decoration: underline;
                    }

                    a {
                        color: var(--white);
                        text-transform: uppercase;
                    }
                }

                .social__container_nav {
                    display: none;
                }

                @media (max-width: 768px) {
                    .social__container_nav {
                        display: flex;
                        margin-top: 30px;
                    }
                }
            }

            @media (max-width: 768px) {

                .burger {
                    display: block;
                    width: 32px;
                    height: 32px;
                    position: relative;
                    z-index: 5;
                    border: 10px solid white;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: all 0.3s ease;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0%;
                        width: 100%;
                        height: 15%;
                        background-color: red;
                        transform: scale(0) rotate(45deg) translate(0%, -50%);
                        transform-origin: top;
                        transition: all 0.2s ease;
                        opacity: 0;
                    }

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 15%;
                        background-color: red;
                        transform: scale(0) rotate(-45deg) translate(0%, -50%);
                        transform-origin: top;
                        transition: all 0.2s ease;
                        opacity: 0;
                    }
                }

                .burger_active {
                    border: 0;

                    &::after {
                        transform: scale(1) rotate(45deg) translate(0%, -50%);
                        opacity: 1;
                    }

                    &::before {
                        transform: scale(1) rotate(-45deg) translate(0%, -50%);
                        opacity: 1;
                    }
                }

                .menu__content {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                    top: 0;
                    right: 0;
                    background-color: var(--black);
                    transform: translate(-100%, 0);
                    transition: transform 0.2s;

                    .menu__list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        padding-top: 6rem;
                        gap: 2rem;

                        li {
                            font-size: 2rem;
                        }
                    }

                    .social__container {
                        justify-content: flex-end;
                    }

                }

                .menu__content_active {
                    transform: translate(0, 0);
                }
            }
        }
    }

    .content-container {
        max-width: 780px;
        margin: 0 auto;
        padding-top: 295px;
        padding-bottom: 160px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        // need add impotante text style
        h1 {
            font-size: 160px;
            color: var(--white);
    
            span {
                filter: drop-shadow(0 0 10px red);
            }

            @media (max-width: 768px) {
                font-size: 20vw;
            }
        }
    
        p {
            margin-top: 70px;
        }
    
        button {
            margin-top: 100px;
        }
    }
}

main {
    .quoet__container .wrapper {
        color: var(--blue);
        padding: 70px 90px;
        text-align: center;

        h2 {
            margin-bottom: 30px;
        }

        p {
            line-height: 2.1rem;
            font-size: 1.1rem;
        }

        @media (max-width: 425px) {
            padding: 50px 30px;
        }
    }

    .cards__container_top {
        background-color: var(--darkGray);
        .card {
            text-align: start;
            max-width: 290px;
        }
    }

    .prioritets__container {
        position: relative;
        .bg__image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5) grayscale(1);
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 120px;
            color: var(--blue);
            p:first-of-type {
                margin-top: 80px;
                font-size: 19px;
                line-height: 38px;
                max-width: 980px;
            }
        }
        
    }

    .exactly_we_do__block {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 120px;
            color: var(--blue);
            p:first-of-type {
                margin-top: 80px;
                font-size: 19px;
                line-height: 38px;
                max-width: 700px;
            }
        }
        .navigation__switch__card {
            margin-top: 90px;
            margin-bottom: 80px;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;

                li {
                    text-transform: capitalize;
                }
                li:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

        }
        .card__container_hidden {
            max-height: 0px;
        }
    }

    .tickets__shop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        section {
            position: relative;
            min-height: 680px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px;
            color: var(--blue);

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .wrapper {
                max-width: 450px;
                margin: 0;
                margin-right: auto;
            }

            h2 {
                font-size: 30px;
                line-height: 70px;
                color: inherit;
                font-weight: 400;
            }

            p {
                line-height: 1.5rem;
                color: inherit;
                letter-spacing: 0.1rem;
            }
        }

        section:last-of-type {
            grid-column: 1/3;
            img {
                filter: grayscale(1);
            }

            .wrapper {
                max-width: 280px;
                margin: 0;
                margin-left: auto;
                color: var(--white)
            }

            h2,
            p {
                color: inherit;
            }

            h2 {
                font-size: 40px;
                line-height: 1em;
            }

            p {
                margin-top: 30px;
                margin-bottom: 50px;
            }

            button::before {
                content: "buy"
            }
        }
    }

    .projects__container {
        color: var(--blue);
        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 220px 40px;
            padding: 200px 0;
        }
        .card {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .card:nth-child(2n) {
            flex-direction: row-reverse;
        }
        .content {
            max-width: 380px;
            text-align: center;
            h3 {
                margin-top: 10px;
                margin-bottom: 50px;
            }
        }
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 120px;
                height: 120px;
            }
        }
    } 
}

footer {
    background-color: var(--darkGray);

    h3,
    p,
    a {
        color: var(--white)
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .about__item_social {
                max-width: 100%;
                padding-bottom: 40px;

                &::after {
                    content: "";
                    display: block;
                    width: 90%;
                    height: 2px;
                    background-color: var(--white);
                    margin: 0 auto;
                }
            }
        }
    }

    .about__item_social {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-column: 1/4;
        position: relative;
    }

    .about__item_nav {
        margin: 0 auto;

        div {
            display: flex;
            flex-direction: column;
        }

        h3 {
            margin-bottom: 40px;
        }

        a {
            line-height: 1.5rem;
        }
    }
}