:root {
  --black: #000000;
  --darkGray: #1b1b1b;
  --blue: #3EA2D8;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
button {
  color: var(--blue);
  text-transform: uppercase;
}

.scroll__top {
  position: fixed;
  bottom: 20px;
  right: 10%;
  z-index: 20;
  opacity: 1;
  display: none;
}

.scroll__top span {
  background-color: transparent;
  display: block;
  border-top: 0px;
  border-bottom: 20px;
  border-right: 20px;
  border-left: 20px;
  border-color: transparent;
  border-bottom-color: var(--black);
  border-style: solid;
}

.scroll__top::before {
  content: "up";
}

h1 {
  font-family: "raleway";
  font-weight: 900;
}

button {
  font-family: "roboto";
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 16px 60px;
  border-radius: 28px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.9;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button:before {
  content: "MORE";
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 30px 30px var(--blue);
          box-shadow: 0 0 30px 30px var(--blue);
  z-index: -1;
}

button:hover {
  opacity: 1;
}

button:hover:before {
  color: var(--white);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 1;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.social__container .social__link {
  height: 36px;
  width: 36px;
  padding: 6px;
  background-color: var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.social__container a {
  width: 100%;
  height: 100%;
}

.social__container svg {
  height: 100%;
  width: 100%;
  fill: var(--darkGray);
}

.bg__darkgray {
  background-color: var(--darkGray);
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}

body {
  background-color: var(--black);
  font-family: "raleway";
  font-weight: 400;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--white);
  justify-self: center;
}

.cards .card img {
  height: 110px;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 50px;
}

.cards .card h3 {
  color: var(--white);
}

.cards .card p {
  font-family: "Lora";
  font-weight: 400;
  line-height: 1.1rem;
  font-size: 16px;
}

.cards .card p:first-of-type {
  margin: 50px 0;
}

@media (max-width: 800px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cards .card {
    max-width: 100%;
  }
}

.cards__gallary .card {
  width: 100%;
  height: 400px;
}

.cards__gallary .card img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
  height: 100%;
  background-image: url("../media/image/Image@2x.jpg");
  background-position: top;
  background-size: cover;
}

header .header-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header .wrapper {
  padding-top: 40px;
}

header .navigation {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation .logo {
  text-transform: uppercase;
  font-family: "raleway";
  color: var(--white);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navigation .logo:before {
  content: "";
  width: 36px;
  height: 100%;
  background-image: url("../media/image/oie_transparent.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header .navigation .logo h2 {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

header .navigation .logo h3 {
  color: inherit;
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
}

header .navigation .logo span {
  color: var(--blue);
}

header .navigation .menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .menu__container .burger {
  display: none;
}

header .navigation .menu__container .menu__content .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header .navigation .menu__container .menu__content .menu__list a:hover {
  text-decoration: underline;
}

header .navigation .menu__container .menu__content .menu__list a {
  color: var(--white);
  text-transform: uppercase;
}

header .navigation .menu__container .menu__content .social__container_nav {
  display: none;
}

@media (max-width: 768px) {
  header .navigation .menu__container .menu__content .social__container_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  header .navigation .menu__container .burger {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 5;
    border: 10px solid white;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .navigation .menu__container .burger::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 15%;
    background-color: red;
    -webkit-transform: scale(0) rotate(45deg) translate(0%, -50%);
            transform: scale(0) rotate(45deg) translate(0%, -50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
  }
  header .navigation .menu__container .burger::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: red;
    -webkit-transform: scale(0) rotate(-45deg) translate(0%, -50%);
            transform: scale(0) rotate(-45deg) translate(0%, -50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
  }
  header .navigation .menu__container .burger_active {
    border: 0;
  }
  header .navigation .menu__container .burger_active::after {
    -webkit-transform: scale(1) rotate(45deg) translate(0%, -50%);
            transform: scale(1) rotate(45deg) translate(0%, -50%);
    opacity: 1;
  }
  header .navigation .menu__container .burger_active::before {
    -webkit-transform: scale(1) rotate(-45deg) translate(0%, -50%);
            transform: scale(1) rotate(-45deg) translate(0%, -50%);
    opacity: 1;
  }
  header .navigation .menu__container .menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: var(--black);
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .navigation .menu__container .menu__content .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 6rem;
    gap: 2rem;
  }
  header .navigation .menu__container .menu__content .menu__list li {
    font-size: 2rem;
  }
  header .navigation .menu__container .menu__content .social__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navigation .menu__container .menu__content_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

header .content-container {
  max-width: 780px;
  margin: 0 auto;
  padding-top: 295px;
  padding-bottom: 160px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content-container h1 {
  font-size: 160px;
  color: var(--white);
}

header .content-container h1 span {
  -webkit-filter: drop-shadow(0 0 10px red);
          filter: drop-shadow(0 0 10px red);
}

@media (max-width: 768px) {
  header .content-container h1 {
    font-size: 20vw;
  }
}

header .content-container p {
  margin-top: 70px;
}

header .content-container button {
  margin-top: 100px;
}

main .quoet__container .wrapper {
  color: var(--blue);
  padding: 70px 90px;
  text-align: center;
}

main .quoet__container .wrapper h2 {
  margin-bottom: 30px;
}

main .quoet__container .wrapper p {
  line-height: 2.1rem;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  main .quoet__container .wrapper {
    padding: 50px 30px;
  }
}

main .cards__container {
  background-color: var(--darkGray);
}

main .cards__container .card {
  text-align: start;
  max-width: 290px;
  max-height: 100%;
}

main .prioritets__container {
  position: relative;
  height: 100%;
}

main .prioritets__container .bg__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.5) grayscale(1);
          filter: brightness(0.5) grayscale(1);
}

main .prioritets__container .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 120px;
  color: var(--blue);
}

main .prioritets__container .wrapper p:first-of-type {
  margin-top: 80px;
  font-size: 19px;
  line-height: 38px;
  max-width: 980px;
}

main .prioritets__container .cards {
  margin-top: 80px;
}

main .prioritets__container .cards .card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 20%;
}

main .prioritets__container .cards .card p {
  line-height: 1rem;
  text-align: start;
}

main .prioritets__container .cards .card p:last-of-type {
  text-align: center;
}

main .exactly_we_do__block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 120px;
  color: var(--blue);
}

main .exactly_we_do__block .wrapper p:first-of-type {
  margin-top: 80px;
  font-size: 19px;
  line-height: 38px;
  max-width: 700px;
}

main .exactly_we_do__block .navigation__switch__card {
  margin-top: 90px;
  margin-bottom: 80px;
}

main .exactly_we_do__block .navigation__switch__card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

main .exactly_we_do__block .navigation__switch__card ul li {
  text-transform: capitalize;
}

main .exactly_we_do__block .navigation__switch__card ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

main .exactly_we_do__block .cards {
  -webkit-animation: visibleBlock 2s;
          animation: visibleBlock 2s;
}

main .exactly_we_do__block .cards__hidden {
  display: none;
}

@-webkit-keyframes visibleBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visibleBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main .tickets__container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 900px) {
  main .tickets__container .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .tickets__container .wrapper section:first-of-type {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .tickets__container .wrapper section:last-of-type {
    grid-column: auto;
  }
}

main .tickets__container section {
  position: relative;
  min-height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  color: var(--blue);
}

main .tickets__container section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .tickets__container section h2,
main .tickets__container section p {
  text-align: start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .tickets__container section h2 {
  font-size: 30px;
  line-height: 70px;
  color: inherit;
  font-weight: 400;
}

main .tickets__container section p {
  line-height: 1.5rem;
  color: inherit;
  letter-spacing: 0.1rem;
}

main .tickets__container section:last-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--white);
}

main .tickets__container section:last-of-type img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main .tickets__container section:last-of-type h2,
main .tickets__container section:last-of-type p {
  color: inherit;
  text-align: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 300px;
}

main .tickets__container section:last-of-type h2 {
  font-size: 40px;
  line-height: 1em;
}

main .tickets__container section:last-of-type p {
  margin-top: 30px;
  margin-bottom: 50px;
}

main .tickets__container section:last-of-type button::before {
  content: "buy";
}

main .projects__container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 220px 0;
}

main .projects__container .cards .card {
  max-width: 380px;
  max-height: 100%;
  color: var(--blue);
}

main .projects__container .cards .card h3,
main .projects__container .cards .card p,
main .projects__container .cards .card span {
  color: var(--blue);
}

main .projects__container .cards .card p {
  margin-bottom: 0;
}

main .projects__container .cards .card:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .projects__container .cards .card:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 900px) {
  main .projects__container .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 110px 0;
  }
  main .projects__container .cards .card:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
  main .projects__container .cards .card:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
}

footer {
  background-color: var(--darkGray);
}

footer h3,
footer p,
footer a {
  color: var(--white);
}

footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 768px) {
  footer .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  footer .wrapper .about__item_social {
    max-width: 100%;
    padding-bottom: 40px;
  }
  footer .wrapper .about__item_social::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: var(--white);
    margin: 0 auto;
  }
}

footer .about__item_social {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
}

footer .about__item_nav {
  margin: 0 auto;
}

footer .about__item_nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .about__item_nav h3 {
  margin-bottom: 40px;
}

footer .about__item_nav a {
  line-height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */