:root {
    --black: #000000;
    --blue: #3EA2D8;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
button {
    color: var(--blue);
    text-transform: uppercase;
}

h1 {
    font-family: "raleway";
    font-weight: 900;
}

button { 
    font-family: "roboto";
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 16px 60px;
    border-radius: 28px;
    transition: all 0.2s;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    &:before {
        content: "MORE";
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 24px;
        background-color: var(--blue);
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(90deg);
        transition: all ease 0.5s;
        box-shadow: 0 0 30px 30px var(--blue);
        z-index: -1;
    }
}
button:hover {
    opacity: 1;
    &:before {
        color: var(--white);
        transform: translateX(0%);
        z-index: 1;
    }
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    padding: 90px 0;
}

body {
    background-color: var(--black);
    font-family: "raleway";
    font-weight: 400;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100%;
    background-image: url("../media/image/Image@2x.jpg");
    background-position: top;
    background-size: cover;

    .header-container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .wrapper {
        padding-top: 40px;
    }
    
    .navigation {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            text-transform: uppercase;
            font-family: "raleway";
            color: var(--white);
            text-align: center;
            display: flex;
            .icon {
                width: 36px;
                height: 32px;
                background-color: var(--blue);
            }
            h2 {
                color: inherit;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }
            h3 {
                color: inherit;
                font-size: 8px;
                line-height: 8px;
                font-weight: 400;
            }
            span {
                color: var(--blue);
            }
            
        }

        .menu-container {
            .burger {}
            ul {
                display: flex;
                gap: 80px;
            }
        }
    }

    .content-container {
        max-width: 780px;
        margin: 0 auto;
        padding-top: 295px;
        padding-bottom: 160px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 160px;
            color: transparent;
            overflow: hidden;
            // text-shadow: 0 0 20px white;
        }
        p {
            margin-top: 70px;
        }
        button {
            margin-top: 100px;
        }
    }
}