:root {
  --black: #000000;
  --darkGray: #1b1b1b;
  --blue: #3EA2D8;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
button {
  color: var(--blue);
  text-transform: uppercase;
}

.scroll__top {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 20;
  opacity: 1;
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scroll__top span {
  background-color: transparent;
  display: block;
  border-top: 0px;
  border-bottom: 20px;
  border-right: 20px;
  border-left: 20px;
  border-color: transparent;
  border-bottom-color: var(--black);
  border-style: solid;
}

.scroll__top::before {
  content: "up";
}

h1 {
  font-family: "raleway";
  font-weight: 900;
}

button {
  font-family: "roboto";
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 16px 60px;
  border-radius: 28px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.9;
  position: relative;
  overflow: hidden;
}

button:before {
  content: "MORE";
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 30px 30px var(--blue);
          box-shadow: 0 0 30px 30px var(--blue);
  z-index: -1;
}

button:hover {
  opacity: 1;
}

button:hover:before {
  color: var(--white);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 1;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}

body {
  background-color: var(--black);
  font-family: "raleway";
  font-weight: 400;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 100%;
  background-image: url("../media/image/Image@2x.jpg");
  background-position: top;
  background-size: cover;
}

header .header-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header .wrapper {
  padding-top: 40px;
}

header .navigation {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation .logo {
  text-transform: uppercase;
  font-family: "raleway";
  color: var(--white);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation .logo .icon {
  width: 36px;
  height: 32px;
  background-color: var(--blue);
}

header .navigation .logo h2 {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

header .navigation .logo h3 {
  color: inherit;
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
}

header .navigation .logo span {
  color: var(--blue);
}

header .navigation .menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .menu__container .burger {
  display: none;
}

header .navigation .menu__container .menu__content .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header .navigation .menu__container .menu__content .menu__list a:hover {
  text-decoration: underline;
}

header .navigation .menu__container .menu__content .menu__list a {
  color: var(--white);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  header .navigation .menu__container .burger {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 5;
    border: 10px solid white;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .navigation .menu__container .burger::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 15%;
    background-color: red;
    -webkit-transform: scale(0) rotate(45deg) translate(0%, -50%);
            transform: scale(0) rotate(45deg) translate(0%, -50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
  }
  header .navigation .menu__container .burger::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: red;
    -webkit-transform: scale(0) rotate(-45deg) translate(0%, -50%);
            transform: scale(0) rotate(-45deg) translate(0%, -50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
  }
  header .navigation .menu__container .burger_active {
    border: 0;
  }
  header .navigation .menu__container .burger_active::after {
    -webkit-transform: scale(1) rotate(45deg) translate(0%, -50%);
            transform: scale(1) rotate(45deg) translate(0%, -50%);
    opacity: 1;
  }
  header .navigation .menu__container .burger_active::before {
    -webkit-transform: scale(1) rotate(-45deg) translate(0%, -50%);
            transform: scale(1) rotate(-45deg) translate(0%, -50%);
    opacity: 1;
  }
  header .navigation .menu__container .menu__content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: var(--black);
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .navigation .menu__container .menu__content .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 6rem;
    gap: 2rem;
  }
  header .navigation .menu__container .menu__content .menu__list li {
    font-size: 2rem;
  }
  header .navigation .menu__container .menu__content_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.content-container {
  max-width: 780px;
  margin: 0 auto;
  padding-top: 295px;
  padding-bottom: 160px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container h1 {
  font-size: 160px;
  color: rgba(0, 0, 0, 0.5);
}

.content-container h1 span {
  -webkit-filter: drop-shadow(0 0 10px red);
          filter: drop-shadow(0 0 10px red);
}

.content-container p {
  margin-top: 70px;
}

.content-container button {
  margin-top: 100px;
}

main .quoet__container .wrapper {
  color: var(--blue);
  padding: 70px 90px;
  text-align: center;
}

main .quoet__container .wrapper p {
  margin-top: 30px;
  line-height: 2.1rem;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  main .quoet__container .wrapper {
    padding: 50px 30px;
  }
}

footer {
  background-color: var(--darkGray);
}

footer h3, footer p, footer a {
  color: var(--white);
}

footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 768px) {
  footer .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  footer .wrapper .about__item_social {
    max-width: 100%;
    padding-bottom: 40px;
  }
  footer .wrapper .about__item_social::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: var(--white);
    margin: 0 auto;
  }
}

footer .about__item_social {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
}

footer .about__item_social .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

footer .about__item_social .social_container .social__link {
  height: 36px;
  width: 36px;
  padding: 6px;
  background-color: var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

footer .about__item_social .social_container a {
  width: 100%;
  height: 100%;
}

footer .about__item_social .social_container svg {
  height: 100%;
  width: 100%;
  fill: var(--darkGray);
}

footer .about__item_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .about__item_nav h3 {
  margin-bottom: 40px;
}

footer .about__item_nav a {
  line-height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */